.button {
  background-image: url('blank_profile.jpg');
  background-size: cover;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 100%;
}

a {
    color: rgba(255, 255, 255, .55);
    text-decoration: none;
}

a:hover {
    color: rgba(255, 255, 255, .75);
    text-decoration: none;
}

.org_button {
    color: rgba(255, 255, 255, .155);
    text-decoration: none;
    cursor: pointer;
}

.org_button.selected {
    color: rgba(255, 255, 255, .95);
}

.div_button {
    color: rgba(255, 255, 255, .95);
    text-decoration: none;
    cursor: pointer;
}

.div_button_form {
    color: black;
    margin-left: 45%;
    margin-top: 10px;
    text-decoration: none;
    cursor: pointer;
}