* {
  box-sizing: content-box;
}

.org-form-button {
    position: absolute;
    left: 40%;
    margin-top: 10px;
}

.task-buttons {
    display: flex;
    position: absolute;
    bottom: 1%;
    right: 1%;
}

.org-table {
    background: #35393d;
    padding: 5%;
    width: 80%;
    border-radius: 10px;
}

.org-table > *:first-child {
    margin-top: 5px
}

.org-table > *:last-child {
    margin-bottom: 5px
}

.main-panel .header {
  text-align: center;
  height: 5%;
  color: rgb(243, 246, 246);
  margin: 1%;
}

.main-panel .state-list {
  height: 85%;
  margin-top: 4%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.state-list .child {
  vertical-align: middle;
  overflow-y: auto;
  overflow-x: clip;
  box-sizing: border-box;
  opacity: 70%;
  height: 95%;
  width: 20%;
}

.child > *:last-child {
    margin-bottom: 15px;
}

.card {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.card[draggable="true"] {
    cursor: grab;
}

.card[draggable="true"]:active {
    cursor: grabbing;
}

.card-text {
  font-size: 90%;
  color: black;
}

.card-header {
  font-family: cursive;
  color: black;
}

.prio1body {
    background: rgb(198 181 220);
}

.prio1header {
    background: rgb(172, 161, 186);
}


.prio2body {
    background: rgb(110 211 234);
}

.prio2header {
    background: rgb(79, 176, 198);
}

.prio3body {
    background: rgb(82 197 195);
}

.prio3header {
    background: rgb(55, 147, 146);
}

.prio4body {
    background: rgb(94 134 167);
}

.prio4header {
    background: rgb(56 87 113);
}

.modal-org-panel {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-org-panel-content {
    background: rgb(73, 117, 120);
    color: rgb(243, 246, 246);
    border-radius: 5px;
    display: flow;
    align-content: center;
    width: 185px;
    padding: 15px;
    padding-bottom: 45px;
    position: relative;
}

.modal-task {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-task-content {
    color: rgb(243, 246, 246);
    border-radius: 5px;
    display: flow;
    align-content: center;
    padding: 15px;
    width: 60%;
    position: relative;
}

.modal-task-content > * {
    color: black;
}

.modal-task-content > *:last-child {
    margin-bottom: 10px;
}