.button {
  background-image: url('blank_profile.jpg');
  background-size: cover;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 100%;
}

a {
    color: rgba(255, 255, 255, .55);
    text-decoration: none;
}

a:hover {
    color: rgba(255, 255, 255, .75);
    text-decoration: none;
}

.org_button {
    color: rgba(255, 255, 255, .155);
    text-decoration: none;
    cursor: pointer;
}

.org_button.selected {
    color: rgba(255, 255, 255, .95);
}

.div_button {
    color: rgba(255, 255, 255, .95);
    text-decoration: none;
    cursor: pointer;
}

.div_button_form {
    color: rgb(243, 246, 246);
    margin-left: 45%;
    margin-top: 10px;
    text-decoration: none;
    cursor: pointer;
}

.button-action {
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;
    background: #6E6D70;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
    color: #DFDEDF;
    touch-action: manipulation;
}

.button-action:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.buttons {
    display: flex;
    position: absolute;
    bottom: 1%;
    right: 1%;
}

.close {
    position: absolute;
    top: 1%;
    right: 2%;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}