html{
    height: 100%;
  }
  
  * {
      box-sizing: content-box;
  }

  .tasks_list {
    height: 100%;
    background: rgb(37, 48, 49);
    display: flex;
    flex-direction: row;
  }
  
   .side_panel {
    height: 100%;
    width: 10%;
    text-align: center;
    background: #212529;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    
  }

  
  .side_panel > * {
    margin: 5%;
  }

  .side_panel > *:first-child {
      margin-top: 15px;
  }
  
.card {
    width: 18rem;
}

.heder {
    color: aliceblue;
    margin-top: 4rem;
}

.main_section{
    margin-left: 12%;
}

.row {
    margin-top: 2rem;
}

a {
    color: rgba(255, 255, 255, .55);
    text-decoration: none;
}

a:hover {
    color: rgba(255, 255, 255, .75);
    text-decoration: none;
}

.a-like {
    color: rgba(255, 255, 255, .55);
    text-decoration: none;
    cursor: pointer;
}

.a-like:hover {
    color: rgba(255, 255, 255, .75);
    text-decoration: none;
}

.button {
    background-image: url('blank_profile.jpg');
    background-size: cover;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 100%;
}
