.button {
  background-image: url('blank_profile.jpg');
  background-size: cover;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 100%;
}

a {
  color: rgba(255, 255, 255, .55);
  text-decoration: none;
}

a:hover {
  color: rgba(255, 255, 255, .75);
  text-decoration: none;
}