<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formularz</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_create_new_issue.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_common_buttons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_common.css') }}">
    <script src="{{ url_for('static', filename='js/script_common.js') }}"></script>
</head>

<body>

    <div class="side-panel">
        <button id="profile" class="profile"></button>
        <div class="side-panel-button" onclick='href_js("/dashboard")'>Zobacz tablicę Kanban</div>
        <div class="side-panel-button" onclick='href_js("/create_new_issue")'>Utwórz nowy problem</div>
        <div class="side-panel-button" onclick='href_js("/view_all_tasks")'>Zobacz wszystkie zgłoszenia</div>
        <div class="side-panel-button" onclick='logout()'>Wyloguj się</div>
    </div>

    <div class="main-panel form-div" style="color: rgb(243, 246, 246);">
        <form method="POST" action="/create_new_issue">
            <h1>Wypełnij formularz</h1>
            <label for="title">Tytuł:</label>
            <input type="text" id="title" class="form-control" name="title" maxlength="256" required>
            <br>
            <label for="description">Opis:</label>
            <textarea class="form-control" id="description" name="description" rows="4" cols="50" required></textarea>
            <br>
            <label for="organization_name">Set priority</label>
            <select class="form-control" id="priority" name="priority">
                <option value="4">Citical</option>
                <option value="3">Major</option>
                <option value="2" selected="selected">Normal</option>
                <option value="1">Minor</option>
            </select>
            <br>
            <label for="organization_name">Set satus</label>
            <select class="form-control" id="status" name="status">
                <option value="1" selected="selected">To do</option>
                <option value="2">In progres</option>
                <option value="3">In testing</option>
                <option value="4">Finished</option>
            </select>
            <br>
            <label for="organization_name">Select your organization</label>
            <select class="form-control" id="organization_name" name="organization_name">
                {% for org in database.get_user_orgs(username) %}
                <option value="{{ org }}">{{ org }}</option>
                {% endfor %}
            </select>
            <br>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                        {% for message in messages %}
                            <div style="color: red; margin-bottom: 25px;">{{ message }}</div>
                        {% endfor %}
                {% endif %}
            {% endwith %}
            <button type="submit" class="action-button">Wyślij</button>
        </form>
    </div>

    
</body>

</html>