<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_dashboard_buttons.css') }}">
</head>
<body class="dashboard">
    <div class="orgs">
        <button id="profile" class="button"></button>
        <a href="/create_new_issue">Utwórz nowy problem</a>
        <a href="/see_canban_board">Zobacz tablicę Kanban</a>
        <a href="/login">Zaloguj się</a>
        {% for org in database.get_user_orgs(username) %}
        <div class="org_button" onclick="toggleSelectedState(event, '{{ org }}')" id="{{ org }}">Org {{ org }}</div>
        {% endfor %}
    </div>
    <div class="sub_div">
        <div class="header">
            <h1>Witaj, {{username}}!</h1>
            <hr class="my-4">
        </div>
        <div class="lists_parent">
            <div class="child" id="to_do" style="background: #e3e04b" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div class="child" id="in_progress" style="background: #5ed13f" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div class="child" id="in_testing" style="background: #3265b8" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div class="child" id="finished" style="background: #d13232" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script_dashboard.js') }}"></script>
</body>
</html>
