<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_dashboard_buttons.css') }}">
    <script src="{{ url_for('static', filename='js/script_dashboard.js') }}"></script>
</head>
<body class="dashboard" onload="updateOrgs();">
    <div class="side_panel">
        <button id="profile" class="button"></button>
        <a href="/create_new_issue">Utwórz nowy problem</a>
        <a href="/see_canban_board">Zobacz tablicę Kanban</a>
        <a href="/viev_all_tasks">Zobacz wszystkie zgłoszenia</a>
        <a href="/login">Zaloguj się</a>
        <div class="div_button" onclick="openJoinOrgModal()">Dołącz do organizacji</div>
        <div class="org_table" id="org_table"></div>
    </div>
    <div class="sub_div">
        <div class="header">
            <h1>Witaj, {{username}}!</h1>
            <hr class="my-4">
        </div>
        <div class="lists_parent">
            <div class="child" id="to_do" style="background: rgb(156, 124, 165)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div class="child" id="in_progress" style="background: rgb(173, 178, 211)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div class="child" id="in_testing" style="background: rgb(212, 180, 131)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div class="child" id="finished" style="background: rgb(173, 131, 80)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        </div>
    </div>

    <div id="joinOrgModal" class="modal-m">
        <div class="modal-m-content">
            <span class="close" onclick="closeJoinOrgModal()">&times;</span>
            <form id="joinOrgForm" onsubmit="submitJoinOrgForm(event)">
                <label for="orgName">Organization Name:</label>
                <input type="text" id="orgName" name="orgName" required>
                <label for="orgPassword">Organization Password:</label>
                <input type="password" id="orgPassword" name="orgPassword" required>
            </form>
            <div type="submit" class="div_button_form" onclick="submitJoinOrgForm()">Join</div>
        </div>
    </div>
</body>
</html>
