<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viev all tasks</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_viev_all_tasks.css') }}">
</head>

<body class="viev_all_tasks">
    <div class="side_panel">
        <button id="profile" class="button"></button>
        <a href="/create_new_issue">Utwórz nowy problem</a>
        <a href="/dashboard">Zobacz tablicę Kanban</a>
        <a href="/viev_all_tasks">Zobacz wszystkie zgłoszenia</a>
        <a href="/login">Zaloguj się</a>
        <!---
        <div class="div_button" onclick="openJoinOrgModal('create')">Stwórz organizację</div>
        <div class="div_button" onclick="openJoinOrgModal('join')">Dołącz do organizacji</div>
        <div class="org_table" id="org_table"></div>
        -->
    </div>
    <div class="main_header">
        <h2 class="header">All tasks in yours organizations</h2>
    </div>
<div class="main_section" id="main_section" style="text-align: center;">
        {% for org in database.get_user_orgs(username) %}
        <div class="row" class="row align-items-start">
            <h2 class="header"> {{ org }} </h2>
            {% for task in database.get_tasks_for_organization(org) %}
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title"> {{task.title}}</h3>
                        <h4 class="mt-5"> Description:</h4>
                        <p class="card-text">{{ task.description }} </p>
                        <h4 class="mt-5"> Assigned to:</h4>
                        <p>{{ database.get_users_from_task(task.task_id) }} </p>
                        <form method="POST" action="/viev_all_tasks">
                            <button type="submit" name="assign_button" value="{{task.task_id}}"
                                class="btn btn-primary">Assign to me</button>
                        </form>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
        {% endfor %}
    </div>
</body>