<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formularz</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_viev_all_tasks.css') }}">
    <script src="{{ url_for('static', filename='js/script_common.js') }}"></script>
</head>

<body class="tasks_list">
    <div class="side_panel">
        <button id="profile" class="button"></button>
        <a href="/dashboard">Zobacz tablicę Kanban</a>
        <a href="/create_new_issue">Utwórz nowy problem</a>
        <a href="/viev_all_tasks">Zobacz wszystkie zgłoszenia</a>
        <div class="a-like" onclick='logout()'>Wyloguj się</div>
        <!-- 
        <div class="div_button" onclick="openJoinOrgModal('create')">Stwórz organizację</div>
        <div class="div_button" onclick="openJoinOrgModal('join')">Dołącz do organizacji</div>
        -->
    </div>


    <div class="main_section" id="main_section" style="text-align: center;">
        <h1 style="color:  rgb(243, 246, 246)"> Organizations and tasks</h1>
        {% for org in database.get_user_orgs(username) %}
        <h2 class="heder"> {{ org }} </h2>
        <div class="row" >
            {% for task in database.get_tasks_for_organization(org) %}
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title"> {{task.title}}</h3>
                        <h4 class="mt-5"> Description:</h4>
                        <p class="card-text">{{ task.description }} </p>
                        <h4 class="mt-5"> Assigned to:</h4>
                        <p>{{ database.get_users_from_task(task.task_id) }} </p>
                        <form method="POST" action="/viev_all_tasks">
                            <button type="submit" name="assign_button" value="{{task.task_id}}"
                                class="btn btn-primary">Assign to me</button>
                        </form>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
        {% endfor %}
    </div>

</body>

</html>